body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

p {
  margin: 6px 0;
}

footer {
  margin: 6px 0;
  text-align: left;
  font-size: 50%;
}

h1 {
  font-size: 120%;
  margin: 6px 0;
}

.product-pricing p {
  margin-left: 2%;
}

.product-specifications p {
  margin-left: 2%;
}

.product-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: blue;
  border: double 5px white;
  width: 25%;
  flex-flow: 0 0 33.333%;
}

.product-name {
  border-top: solid 1px lightblue;
  border-bottom: solid 1px lightblue;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-specifications {
  font-weight: bold;
  border-top: solid 1px lightblue;
  border-bottom: solid 1px lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 10%;
}

#availability {
  color: yellow;
  width: 98.5%;
  background-color: grey;
  border: solid 2px black;
}

.relative {
 position: relative;
}

.absolute {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 2%;
}

@media (max-aspect-ratio: 3/2) {
  .product-card {
    display: flex;
    flex-direction: column;
    background-color: brown;
    border: double 5px burlywood;
    width: 25%;
    flex-flow: 0 0 33.333%;
  }
}

@media (max-aspect-ratio: 8/5) {
  .product-card {
    display: flex;
    flex-direction: column;
    background-color: purple;
    border: double 5px rgb(220, 235, 13);
    width: 25%;
    flex-flow: 0 0 33.333%;
  }
}

@media (aspect-ratio: 1/1) {
  .product-card {
    display: flex;
    flex-direction: column;
    background-color: red;
    border: double 5px rgb(31, 158, 69);
    width: 25%;
    flex-flow: 0 0 33.333%;
  }
}
